<div class="container pt-4">
  <div class="card">
    <h1 class="card-header">
      Förändring i lägenheten
    </h1>

    <div class="card-body">
      <p>
        Bostadsrättshavaren får inte utan styrelsens tillstånd utföra åtgärder i lägenheten som innefattar
      </p>
      <p>
        - Ingrepp i bärande konstruktion
      </p>
      <p>
        - Ändring av eller anslutning till befintliga ledningar för avlopp, värme, gas, vatten, ventilation eller
      </p>
      <p>
        - Annan väsentlig förändring av lägenheten
      </p>

      <h4 class="card-title">
        SÅ HÄR ANSÖKER DU
      </h4>
      <p>
        För att ansöka om att ändringar av din bostad behöver du fylla i nedanstående ansökningsblankett. Ansökan skickas till
        <a href="mailto:flygplansfabriken@gmail.com">flygplansfabriken@gmail.com</a>
      </p>
      <p>
        Styrelsen får inte vägra att medge tillstånd till en åtgärd som avses i första stycket om inte åt-gärden är till
        påtaglig skada eller olägenhet för föreningen eller annan medlem. Bostadsrätts-havaren svarar för att erforderliga
        myndighetstillstånd erhålls. Förändringar ska alltid utföras på ett fackmannamässigt sätt.
      </p>
    </div>
  </div>
</div>
