<div class="container">
  <div class="card">
    <h1 class="card-header">FAQ</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item separator">
        <h4>Att bo i bostadsrätt</h4>
      </li>
      <li class="list-group-item">
        <p>
          <b>Jag har en pantförskrivning från min bank som föreningen behöver fylla i. Hur går jag tillväga för att få
            denna ifylld snarast möjligt?</b>
        </p>
        <p>
          Posta den till
          <br>
          BRF EKONOMEN I STOCKHOLM AB
          <br>
          Lövlundsvägen 5
          <br>
          Telefon: <a href="tel:08-588 85 740">08-588 85 740</a>
          <br>
          E-post: <a href="mailto:info@brfekonomen.se">info@brfekonomen.se</a>
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Behöver jag som boende teckna mig egen bostadsrättsförsäkring?
          </b>
        </p>
        <p>
          Ja.
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Jag önskar att hyra parkeringsplats, hur jag går tillväga?
          </b>
        </p>

        <p>
          <b>Kontakta</b>
          <br>
          BRF EKONOMEN I STOCKHOLM AB
          <br>
          Lövlundsvägen 5
          <br>
          Telefon: <a href="tel:08-588 85 740">08-588 85 740</a>
          <br>
          E-post: <a href="mailto:info@brfekonomen.se">info@brfekonomen.se</a>
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Jag vill se över mitt el-avtal. Vilka jag kan välja mellan?
          </b>
        </p>

        <p>
          Du får som boende välja fritt. Elnätet levereras dock av Ellevio.
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Får jag grilla på balkongen ?
          </b>
        </p>

        <p>
          Du får grilla med gasol- och elgrill samt kolgrill om du bor på våning 5 eller 6.
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Jag vill engagera mig i föreningen, hur gör jag?
          </b>
        </p>

        <p>
          Vad kul! Önskar du att få sitta i styrelsen kontakta <a href="mailto:styrelse@brf-flygplansfabriken.se">styrelse@brf-flygplansfabriken.se</a>
        </p>
      </li>

      <li class="list-group-item separator">
        <h4>Sanitet</h4>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Vad gör jag om jag misstänker att jag fått skadedjur eller liknande?
          </b>
        </p>

        <p>
          Kontakta genast Anticimex samtidigt som du informerar styrelsen.
          <br>
          <a href="https://www.anticimex.com/sv-se/kontakta-oss">https://www.anticimex.com/sv-se/kontakta-oss</a>
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Vart kan jag slänga mina grovsopor?
          </b>
        </p>

        <p>
          I återvinningsstationen vid <a
          href="https://www.google.se/maps/dir/Tellusborgsv%C3%A4gen+90,+126+28+H%C3%A4gersten,+Sweden/59.3019167,18.0056/@59.3003315,18.0002538,743m/am=t/data=!3m2!1e3!4b1!4m9!4m8!1m5!1m1!1s0x465f77ad956ea925:0x787e8acfc5b9ff4a!2m2!1d18.0023291!2d59.2987525!1m0!3e2?hl=sv">svandammsparken</a>.
          Närmaste återvinningscentral är Sätra. Närmaste miljöstation är Aspudden.
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Mitt namn står inte på postfacket. Vem hjälper mig?
          </b>
        </p>

        <p>
          Skicka ett mail till styrelsen <a href="mailto:styrelse@brf-flygplansfabriken.se">(styrelse@brf-flygplansfabriken.se)</a>
          och ange ditt för- och efternamn, lägenhetsnummer, telefonnummer samt mailadress.
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Jag behöver en extranyckel. Hur gör jag?
          </b>
        </p>
        <p>
          Vi ger inte ut extranycklar.
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Jag behöver byta lås på ytterdörren. Hur gör jag?
          </b>
        </p>
        <p>
          Vid byte av låscylinder eller om du blivit av med nycklar, kontakta styrelsen via mail
          <a href="mailto:styrelse@brf-flygplansfabriken.se">styrelse@brf-flygplansfabriken.se</a>. Vi använder oss av Rosen
          låsserivce. Ett lås från dem säkerställer att ditt lås är kompatibelt med resten av bostadsföreningens. För
          nya nycklar krävs godkännande av styrelsen. Boende står för kostnaden. Max 3 nycklar/hushåll.
        </p>
      </li>

      <li class="list-group-item separator">
        <h4>Avier och autogiro</h4>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Jag har inte fått någon några avgiftsavier. Vem ska jag vända mig till?
          </b>
        </p>
        <p>
          Kontakta Brf Ekonomen: <a href="mailto:info@brfekonomen.se">info@brfekonomen.se</a>
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Jag vill betala mina avgifter till föreningen via Autogiro. Hur gör jag?
          </b>
        </p>
        <p>
          Kontakta Brf Ekonomen: <a href="mailto:info@brfekonomen.se">info@brfekonomen.se</a>
        </p>
      </li>

      <li class="list-group-item separator">
        <h4>Parkering</h4>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            En bil stod på min parkeringsplats och jag har fått en inkorrekt felparkeringsavgift. Vad gör jag?
          </b>
        </p>
        <p>
          Ställ din egen bil på en annan parkering och ring Aimo Parks jourtelefon <a href="tel:0771-96 90 06">0771-96 90 06</a>, så
          hjälper de dig.
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Någon av mina vitvaror har gått sönder. Vem kontaktar jag?
          </b>
        </p>
        <p>
          Information finns i din boendepärm.
        </p>
      </li>

      <li class="list-group-item separator">
        <h4>Bredband & TV</h4>
      </li>

      <li class="list-group-item">
        <p>
          <b>Hur får jag tillgång till bredband?</b>
        </p>
        <p>
          Bredband 1000/1000 Mbit/s ingår i hyran. Klicka <a href="assets/bredband-tv.pdf">här</a>
          för mer information om hur du kan komma igång med Bahnhof bredband.
        </p>
      </li>

      <li class="list-group-item">
        <p>
          <b>
            Hur får jag tillgång till TV-kanaler i min bostad?
          </b>
        </p>
        <p>
          Besök <a href="https://bahnhof.se/tv/#/">Bahnhof TV</a> för mer infomation.
        </p>
      </li>

      <li class="list-group-item separator">
        <h4>Störningar</h4>
      </li>

      <li class="list-group-item">
        <p>
          <b>Hur når jag störningsjouren?</b>
        </p>
        <p>
          Ring <a href="tel:08-657 77 22">08-657 77 22</a>. Felaktiga utryckningar kommer att debiteras den som ringde.
        </p>
      </li>
    </ul>
  </div>
</div>
