<div class="container">
  <div class="card">
    <h1 class="card-header">Kontaktuppgifter</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <b>Styrelsen</b>
        <br>
        E-post: <a href="mailto:styrelse@brf-flygplansfabriken.se">styrelse@brf-flygplansfabriken.se</a>
        <br>
        Du kan även lägga meddelanden i styrelsens postfack i entrén.
      </li>

      <li class="list-group-item">
        <b>
          Fel i fastigheten – Port, dörr mm.
        </b>
        <br>
        Kontakta Fastighetsskötsel AB.
        <br>
        Telefon: <a href="tel: 010-207 03 50"> 010-207 03 50</a> (vardagar 08.00-16.00)
        <br>
        Webbsida för felamnälan: <a
        href="https://fastighetsskotsel.se/kontakta-oss">https://fastighetsskotsel.se/kontakta-oss</a>
        <br>
        E-post: <a href="mailto:info@fastighetsskotsel.se">info@fastighetsskotsel.se</a>
        <hr>
        <p>
          Du kan också kontakta styrelsen
          <br>
          E-post: <a href="mailto:styrelse@brf-flygplansfabriken.se">styrelse@brf-flygplansfabriken.se</a>
        </p>
        <p>
          När du har gjort din felanmälan gällande fel i gemensamma utrymmen kan det vara bra att sätta upp en lapp på
          anslagstavlan om att felanmälan är gjord som en information till dina grannar.
        </p>
      </li>

      <li class="list-group-item">
        <b>
          Felanmälan jour – ärenden av akut karaktär
        </b>
        <br>
        Telefon: <a href="tel:010-207 03 50">010-207 03 50, välj 1</a> Helgfria vardagar mellan kl 8-12.
        <br>
        Telefon: <a href="tel:010-207 03 70">010-207 03 70</a> Överig tid.
        <br>
        <i class="text-danger">OBS! Är felet du anmäler verkligen akut? Föreningen får extra kostnader vid akut
          felavhjälpning.</i>
      </li>

      <li class="list-group-item">
        <b>
          Fel i din lägenhet
        </b>
        <br>
        Webbsida för felamnälan: <a
        href="https://fastighetsskotsel.se/kontakta-oss">https://fastighetsskotsel.se/kontakta-oss</a>
        <br>
        Kontakta Fastighetsskötsel.
        <br>
        Telefon: <a href="tel:010-207 03 50">010-207 03 50</a> (vardagar 08:00-16:00)
        <br>
        E-post: <a href="mailto:info@fastighetsskotsel.se">info@fastighetsskotsel.se</a>
        <br>
        <i class="text-danger">
          Observera att bostadsrättsinnehavaren ansvarar för fel på sin enskilda lägenhet. Det går bra att kontakta
          Fastighetsskötsel, men om felet inte täcks av föreningens ansvar debiteras bostadsrättsinnehavaren för
          arbetskostnaden.
        </i>
      </li>

      <li class="list-group-item">
        <b>
          Avgifter och avier
        </b>
        <br>
        Logga in på mina sidor hos Brf ekonomen
        <br>
        <a href="https://brfekonomen.realportal.nu">https://brfekonomen.realportal.nu</a>
      </li>

      <li class="list-group-item">
        <b>
          Parkeringsplatser och tillstånd utomhus
        </b>
        <br>
        Kontakta Brf ekonomen
        <br>
        E-post: <a href="mailto:info@brfekonomen.se">info@brfekonomen.se</a>
      </li>

      <li class="list-group-item">
        <b>
          Felparkerade bilar utomhus
        </b>
        <br>
        Kontakta Aimo Park
        <br>
        Telefon: <a href="tel:0771-96 90 06">0771-96 90 06</a>
        <br>
        Uppge adress, ditt telefonnummer och vad ärendet gäller, t.ex. om någon har parkerat på din plats.
      </li>

      <li class="list-group-item">
        <b>
          Fel på hiss
        </b>
        <br>
        Kontakta Hissen AB
        <br>
        Telefon: <a href="tel:08-6184848">08-61 84 84 8</a>
      </li>

      <li class="list-group-item">
        <b>Borttappade nycklar</b>
        <br>
        <p>
          Alla ärende gällande nycklar, kontakta Roséns Låsservice AB i Enskede.
          <br>
          Telefon: <a href="tel:070-788 48 09">070-788 48 09</a>
        </p>
      </li>
    </ul>
  </div>
</div>
