<div class="container">
  <div class="card">
    <h1 class="card-header">Trivselregler</h1>

    <div class="card-body">
      <p>Trivselreglerna inriktar sig i första hand på boendemiljö med hänsyn till grannar och bostadsföreningen och
        kompletterar föreningens stadgar.
        <br>
        Lär känna dina grannar. Vi uppmuntrar alla att hålla ett öga öppet och våga fråga obehöriga om deras ärende i
        huset.
      </p>

      <p>
        I ett flerfamiljshus som vi bor i är det viktigt att hålla sig vän med sina grannar.
        Tänk därför på att ju bättre relation du har med dina grannar ju trevligare stämning blir det i huset.
      </p>

      <p>
        Vi vill undvika ”lapp-krig” i porten så försök i största möjliga mån att prata direkt med berörd granne.
      </p>

      <h4 class="card-title">Ansvar för ordningen</h4>
      <p>
        Styrelsens uppgift är att ta hand om den löpande förvaltningen av föreningen och verkställa de beslut som
        föreningsstämman fattar. I den löpande förvaltningen ingår också trivselfrågorna.
      </p>

      <p>
        Det innebär att styrelsen har ansvaret för att det är ordning och reda både i och utanför huset. Alla är
        skyldiga att rätta sig efter trivselreglerna. Att bo i bostadsrätt innebär ett gemensamt ansvar. Som medlem i
        föreningen har du inte bara rätten till en bostad i föreningens hus utan du har också skyldigheter mot
        föreningen och övriga medlemmar!
      </p>

      <h4 class="card-title">För vem gäller reglerna</h4>
      <p>
        Trivselreglerna gäller inte bara dig som bostadsrättshavare. Även familjemedlemmar omfattas liksom gäster,
        inneboende eller hantverkare som utför arbete åt dig i lägenheten. Om föreningen har egna hyresgäster gäller
        reglerna även dem.
      </p>

      <h4 class="card-title">Vad händer om trivselreglerna inte följs?</h4>
      <p>
        Om trivselreglerna inte följs kan styrelsen i allvarligare fall ifrågasätta om du skall få bo kvar.
      </p>
      <p>
        Först måste styrelsen anmana den som bryter mot reglerna att följa dessa. Därefter, om medlemmen eller
        hyresgästen trots anmaningen inte följer reglerna kan det bli fråga om uppsägning.
      </p>

      <h4 class="card-title">Har du frågor?</h4>
      <p>
        Har du funderingar över något som tas upp i dessa regler är du alltid välkommen att kontakta styrelsen.
      </p>

      <ul class="list-unstyled">
        <li>
          <strong>Om allmän aktsamhet</strong>
          <ul>
            <li>
              Tänk på att vara rädd om och väl vårda föreningens egendom. Kostnader för underhåll och reparationer
              betalas
              av alla gemensamt.
            </li>
            <li>
              Om akut skada inträffar i huset tag kontakt med någon i styrelsen eller fastighetsskötarfirman enligt
              anslag på anslagstavlan i porten.
            </li>
          </ul>
        </li>

        <li>
          <strong>Om säkerhet</strong>
          <ul>
            <li>
              Kontrollera att ytterporten i fastigheten går i lås efter in- och utpassering.
            </li>
            <li>
              Släpp inte in någon okänd person i fastigheten.
            </li>
            <li>
              Lämna inte källardörrar öppna eller olåsta.
            </li>
            <li>
              Var försiktig med eld.
            </li>
            <li>
              Din lägenhet är utrustad med brandvarnare. Batteriet bör kontrolleras regelbundet och bytas vid behov.
            </li>
            <li>
              Meddela gärna grannar eller styrelsen om Du är bortrest under en längre tid.
            </li>
            <li>
              Vid framförande av fordon inom området, visa hänsyn och aktsamhet, tänk på barnen.
            </li>
          </ul>
        </li>

        <li>
          <strong>Om gemensamma kostnader</strong>
          <ul>
            <li>
              Var sparsam vid varmvattenförbrukning och lämna inte vatten rinnande i onödan. Var också sparsam med el i
              fastighetens gemensamma utrymmen. Byt kranpackning när vatten står och droppar. Tänk också på att alltid
              hålla god ordning i soprummen.
              <br>
              Kostnader för vatten och el i gemensamma utrymmen samt avfallshantering <strong>betalas gemensamt</strong>
              av alla
              bostadsrättshavare.
            </li>
          </ul>
        </li>

        <li>
          <strong>Balkonger, terrasser, uteplatser och tomter</strong>
          <ul>
            Balkonger/altaner får inte användas för
            <li>
              Permanent förvaring av föremål som inte hör till normal balkong-/altanmöblering.
            </li>
            <li>
              Skakning av mattor, sängkläder mm.
            </li>
            <li>
              Grillning med el- eller gasolgrill är tillåtet. Kolgrill är enbart tillåtet på plan 5 och 6.
            </li>
            <li>
              På balkonger får blomlådor ej placeras utanför balkongräcket.
            </li>
            <hr>
            Se till att balkong-/altandörr är ordentligt stängd för att undvika att vatten tränger in vid kraftig
            nederbörd och/eller snösmältning.
          </ul>
        </li>

        <li>
          <strong>Matning av fåglar</strong>
          <p>
            Matning av fåglar är inte tillåten inom fastigheten på grund av att matrester riskerar att locka till sig
            råttor eller andra skadedjur.
          </p>
        </li>

        <li>
          <strong>Cyklar, mopeder, barnvagnar, rullatorer</strong>
          <p>
            Cyklar och mopeder ska förvaras i för ändamålet avsedda utrymmen och inte ställas utanför porten eller
            altan. Trapphusen skall hållas helt fria av brandskyddsskäl. Barnvagnar och rollatorer förvaras i
            särskilda
            rum i entréerna.
          </p>
        </li>

        <li>
          <strong>Sophantering</strong>
          <p>
            Brännbara hushållssopor slängs i föreningens cylinderformade sopbehållare som är placerat vid
            parkeringsplatserna på framsidan. Alla boende har ett gemensamt ansvar att hålla god ordning runt
            sopkärlet. Kärl för källsortering finns på Tellusborgsvägen 53, en liten promenad in i Midsommarkransen.
            Återvinningscentraler finns i Östberga eller Högdalen.
          </p>
        </li>

        <li>
          <strong>Förråd</strong>
          <p>
            I förråden får personliga tillhörigheter förvaras endast på avsedd plats.
            <br>
            Brandfarliga vätskor t.ex. målarfärg, kemikalier eller gastuber får ej förvaras på vind eller i förråden.
            Gångarna ska hållas fria från saker och får inte belamras. Undvik att förvara stöldbegärlig egendom i
            källaren. Rökning är förbjuden.
          </p>
        </li>

        <li>
          <strong>Parabolantenn, markiser, spaljéer o.dyl.</strong>
          <p>
            Det är inte tillåtet att utan styrelsens tillstånd sätta upp parabolantenn eller annan fast installation på
            fasad/balkongräcke eller tak.
          </p>
        </li>

        <li>
          <strong>Störningar</strong>
          <p>
            För att alla ska trivas är det viktigt att man inte störs av omkringboende. Alla boende är skyldiga att visa
            hänsyn. Lagen ser strängt på störningar! Den som stör och inte rättar sig efter tillsägelse från styrelsen
            kan i allvarligare fall komma att bli uppsagd från bostadsrätten. <br>Skyldigheten gäller i bostadsrätten
            men också i gemensamma utrymmen som t ex i trapphus och hiss.
          </p>
          <p>
            Reglerna gäller dygnet runt men är extra angelägna att följa vardagar från kl. 22 på kvällen till kl. 7 på
            morgonen. Man bör därför undvika att köra tvätt- och diskmaskiner under denna tid. Har Du fest så informera
            gärna grannarna i god tid innan.
          </p>
        </li>

        <li>
          <strong>Husdjur</strong>
          <p>Innehavare av husdjur ska övervaka att dessa inte stör eller förorenar i fastigheten och inte heller rastas
            i planteringar, på gräsmattor eller på barnens lekytor. Plocka upp djurets spillning</p>
        </li>

        <li>
          <strong>Andrahandsuthyrning</strong>
          <p>
            Enligt föreningens stadgar eller upplåtelseavtal.
          </p>
        </li>

        <li>
          <strong>Lägenhetsunderhåll</strong>
          <p>
            Bostadsrättshavare ansvarar för att underhålla lägenheten. Vad som ingår i lägenheten och som ska
            underhållas framgår av föreningens stadgar eller Bopärm. Till lägenheten räknas normalt lägenhetens golv,
            väggar och tak, inredning i kök och badrum, glas och bågar i fönster, delar av balkongen samt inner- och
            ytterdörrar. Om något går sönder måste Du se till att det repareras.
          </p>

          <p>
            Det är särskilt viktigt att Du har uppsikt över lägenhetens våtutrymmen. Läckageskador kostar stora pengar
            och leder i allmänhet till stort obehag för den som drabbas.
            <br>
            En särskild bostadsrättsförsäkring kan vara ett bra skydd om olyckan är framme.
          </p>
        </li>

        <li>
          <strong>Förändringar i lägenheten</strong>
          <p>
            Mindre förändringar får göras i lägenheten. Du får t ex lägga nya golv, sätta upp nya skåp eller byta ut
            vitvaror i kök och badrum. Alla arbeten skall utföras fackmannamässigt. Mer omfattande förändringar kräver
            dock styrelsens tillstånd, t ex om Du vill ta ner en vägg, dra nya rör i kök och badrum. Ibland kan det
            också behövas bygglov för att utföra vissa åtgärder i lägenheten. Kontakta alltid styrelsen innan Du sätter
            igång! Tänk också på att ta hänsyn till de omkringboende när Du utför bullerstörande arbeten i lägenheten.
            Dessa bör i första hand utföras under dagtid.
          </p>
        </li>

        <li>
          <strong>Om du tänker flytta</strong>
          <p>
            Fråga styrelsen vilka rutiner som gäller vid överlåtelse. Tänk på att den som övertar Din lägenhet också ska
            godkännas som medlem i föreningen innan inflyttning får äga rum. Tag därför reda på vad som krävs för att få
            medlemskap. Tillsammans med en ansökan om medlemskap ska även ett exemplar av överlåtelseavtalet lämnas till
            styrelsen.
          </p>

          <p>
            Dessa trivselregler med bilaga 1 skall finnas i till lägenhet hörande pärm som överlämnas till den som
            övertar Din lägenhet!
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
