<nav class="navbar navbar-expand-lg navbar-dark bg-menu-darkest">
  <a class="navbar-brand" href="#">
    <img src="assets/logo.png" alt="Flygplansfabriken">
  </a>
  <div class="navbar-toggler" data-toggle="collapse" data-target="#burgerToggle" aria-controls="burgerToggle"
       aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars"></i>
  </div>

  <!-- Top navigations -->
  <div class="collapse navbar-collapse" id="burgerToggle">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/hem">Hem</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/faq">FAQ</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/maklare">För Mäklare</a>
      </li>
      <!--<li class="nav-item" routerLinkActive="active">-->
        <!--<a class="nav-link" routerLink="/nyheter">Nyheter</a>-->
      <!--</li>-->
      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="omDittBoende" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Om ditt boende
        </a>
        <div class="dropdown-menu" aria-labelledby="omDittBoende">
          <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" routerLink="ditt-boende/andrahandsuthyrning">
            Andrahands uthyrning
          </a>
          <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" routerLink="ditt-boende/forandring">
            Ansöka ändring i bostad
          </a>
          <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" routerLink="ditt-boende/felanmalan">
            Gör en fel anmälan
          </a>
          <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" routerLink="ditt-boende/parkering">
            Parkering & Garage
          </a>
          <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" routerLink="ditt-boende/trivsel">
            Trivselsregler
          </a>
          <a class="dropdown-item" href="javascript:void(0)" routerLinkActive="active" routerLink="ditt-boende/underhallansvar">
            Underhållsansvar
          </a>
        </div>
      </li>

      <li class="nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="omForeningen" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Om föreningen
        </a>
        <div class="dropdown-menu" aria-labelledby="omForeningen">
          <a class="dropdown-item" routerLinkActive="active" href="javascript:void(0)" routerLink="om-foreningen">
            Styrelsen
          </a>
          <a class="dropdown-item" routerLinkActive="active" href="javascript:void(0)" routerLink="/contacts">
            Kontaktuppgifter
          </a>
          <a class="dropdown-item" routerLinkActive="active" href="javascript:void(0)" routerLink="/stadgar">
            Stadgar
          </a>
        </div>
      </li>

      <!--<li class="nav-item" routerLinkActive="active">-->
        <!--<a class="nav-link" routerLink="/om-telefonplan">-->
          <!--Om Telefonplan-->
        <!--</a>-->
      <!--</li>-->
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
