<nav class="navbar is-dark" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="javascript:void(0)">
      <img src="assets/logo.png" alt="Bulma: a modern CSS framework based on Flexbox">
    </a>

    <div class="burger navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" routerLink="/hem" routerLinkActive="is-active">
        Hem
      </a>
      <a class="navbar-item" routerLink="/faq" routerLinkActive="is-active">
        FAQ
      </a>
      <a class="navbar-item" routerLink="/nyheter" routerLinkActive="is-active">
        Nyheter
      </a>
      <a class="navbar-item has-dropdown" appToggle="is-active">
        <a class="navbar-link">
          Om ditt boende
        </a>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item">
            Andrahands uthyrning
          </a>
          <a class="navbar-item">
            Ansöka ändring i bostad
          </a>
          <a class="navbar-item">
            Gör en fel anmälan
          </a>
          <a class="navbar-item">
            Parkering & Garage
          </a>
          <a class="navbar-item">
            Trivselsregler
          </a>
          <a class="navbar-item">
            Underhållsansvar
          </a>
        </div>
      </a>
      <a class="navbar-item has-dropdown" appToggle="is-active">
        <a class="navbar-link">
          Om Föreningen
        </a>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item">
            Ekonomi
          </a>
          <a class="navbar-item">
            Kontaktuppgifter
          </a>
          <a class="navbar-item">
            Stadgar
          </a>
          <a class="navbar-item">
            Stämmor
          </a>
          <a class="navbar-item">
            Styrelsen
          </a>
        </div>
      </a>
      <a class="navbar-item" routerLink="/om-telefonplan" routerLinkActive="is-active">
        Om Telefonplan
      </a>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<!--<footer class="footer">-->
  <!--<div class="container">-->
    <!--<div class="content has-text-centered">-->
      <!--<p>-->
        <!--<strong>Flygplansfabriken</strong> by <a>Quang Vu</a>-->
      <!--</p>-->
    <!--</div>-->
  <!--</div>-->
<!--</footer>-->
