<div class="container">
  <div class="card">
    <h1 class="card-header">För mäklare</h1>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <b>Byggår</b>
        <br>
        2015
      </li>

      <li class="list-group-item">
        <b>Gemensamma utrymmen</b>
        <br>
        Cykelrum, barnvagnsrum, tillhörande förråd.
      </li>

      <li class="list-group-item">
        <b>Överlåtelseavgift</b>
        <br>
        2.5 % av prisbasbelopp, betalas av köparen.
      </li>

      <li class="list-group-item">
        <b>Pantförskrivningsavgift</b>
        <br>
        1 % av prisbasbelopp, betalas av panthavaren.
        <br>
        <i>I månadsavgiften ingår värme, vatten och förråd.</i>
      </li>

      <li class="list-group-item">
        <b>Parkeringsavgift</b>
        <br>
        21 parkeringsplatser utomhus – 850 kr/mån inkl. moms
      </li>

      <li class="list-group-item">
        <b>Medlemsansökan</b>
        <br>
        Medlemsansökan skickas till Brf ekonomen.
        <br>
        Lövlundsvägen 5
        <br>
        149 30 Nynäshamn
        <br>
        tel: <a href="tel:08-588 857 40">08-588 857 40</a>
        <br>
        email: <a href="mailto:info@brfekonomen.se">info@brfekonomen.se</a>
      </li>

      <li class="list-group-item">
        <b>Adress pantförskrivning</b>
        <br>
        Brf Flygplansfabriken
        <br>
        Lövlundsvägen 5
        <br>
        149 30 Nynäshamn
        <br>
        tel: <a href="tel:08-588 857 40">08-588 857 40</a>
      </li>

      <li class="list-group-item">
        <b>Årsredovisningar</b>
        <br>
        <a href="assets/2017-2018.pdf">2017-2018</a>
        <br>
        <a href="assets/2016-2017.pdf">2016-2017</a>
      </li>

      <li class="list-group-item">
        <b>Stadgar</b>
        <br>
        <a href="assets/stadgar2017.pdf">Stadgar från 2017</a>
      </li>
    </ul>
  </div>
</div>
