<div class="container">
  <div class="card">
    <h1 class="card-header">Vi i styrelsen</h1>

    <div class="card-body">
      <p>
        Har du frågor eller funderingar är du välkommen att kontakta styrelsen:
        <br>
        <a href="mailto:styrelse@brf-flygplansfabriken.se">styrelse@brf-flygplansfabriken.se</a>
      </p>

      <h4 class="card-title">Vi sitter med i styrelsen:</h4>
      <p>
        <b>Jesper Persson</b>, Ordförande
      </p>

      <p>
        <b>Malin Forsberg</b>, Vice Ordförande
      </p>

      <p>
        <b>Johanna Nilsson</b>, Styrelseledamot
      </p>

      <p>
        <b>Quang Vu</b>, Styrelseledamot
      </p>

      <p>
        <b>Albin Ullmark</b>, Suppleant
      </p>

      <p>
        <b>Ramin Navaee</b>, Suppleant
      </p>
    </div>
  </div>
</div>
