<div class="container">
  <div class="card">
    <h1 class="card-header">Vi i styrelsen</h1>

    <div class="card-body">
      <p>
        Har du frågor eller funderingar är du välkommen att kontakta styrelsen:
        <br>
        <a href="mailto:flygplansfabriken@gmail.com">flygplansfabriken@gmail.com</a>
      </p>

      <h4 class="card-title">Vi sitter med i styrelsen:</h4>
      <p>
        <b>Hanna Westerberg</b>, Vån 5, Ordförande – Avtal, stadgar & förvaltning
      </p>

      <p>
        <b>Elin Norberg</b>, Vån 6, Styrelseledamot - Ekonomi
      </p>

      <p>
        <b>Jesper Persson</b>, Vån 6, Vice Ordförande – Sekreterare & trapphus
      </p>

      <p>
        <b>Rasmus Olofsson</b>, Vån 6, Adjungerande Styrelseledamot – P-platser, Bredband & TV
      </p>

      <p>
        <b>Qung Vu</b>, Vån 2, suppleant – Hemsida
      </p>

      <p>
        <b>Veronica Collado</b>, Vån 3, suppleant – Trivselgrupp och sopphantering.
      </p>
    </div>
  </div>
</div>
