<div class="container">
  <div class="card">
    <h1 class="card-header">Vi i styrelsen</h1>

    <div class="card-body">
      <p>
        Har du frågor eller funderingar är du välkommen att kontakta styrelsen:
        <br>
        <a href="mailto:styrelse@brf-flygplansfabriken.se">styrelse@brf-flygplansfabriken.se</a>
      </p>

      <h4 class="card-title">Vi sitter med i styrelsen</h4>

      <table class="table">
        <tr>
          <td><b>Jesper Persson</b></td>
          <td>Ordförande</td>
        </tr>

        <tr>
          <td><b>Malin Forsberg</b></td>
          <td>Vice Ordförande</td>
        </tr>

        <tr>
          <td><b>Johanna Nilsson</b></td>
          <td>Styrelseledamot</td>
        </tr>

        <tr>
          <td><b>Quang Vu</b></td>
          <td>Styrelseledamot</td>
        </tr>

        <tr>
          <td><b>Albin Ullmark</b></td>
          <td>Suppleant</td>
        </tr>

        <tr>
          <td><b>Ramin Navaee</b></td>
          <td>Suppleant</td>
        </tr>
      </table>
    </div>
  </div>
</div>
