<div class="container pt-4">
  <div class="card">
    <h1 class="card-header">Parkering</h1>

    <div class="card-body">
      <p>Brf Flygplansfabriken äger och förfogar över <b>21st</b> parkeringsplatser.</p>
      <h4 class="card-title">Kostnad och kösystem</h4>
      <p>Parkeringsplatserna utomhus uthyres av föreningen till en kostnad av fn. <b>850 kr/mån</b></p>
      <p>
        För information om eventuellt lediga parkeringsplatser, kontakta Brf Ekonomen på
        <a href="mailto:info@brfekonomen.se">info@brfekonomen.se</a> för mer information eller för att anmäla ert
        intresse.
      </p>
    </div>
  </div>
</div>
